.navbar {
  width: 100%; 
  background-color: #555; 
  overflow: auto; 
}

.navbar a {
  float: left; 
  text-align: center; 
  width: 16.5%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px; 
}

.navbar a:hover {
  background-color: #000; 
}

.active {
  background-color: #04AA6D; 
}

.footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: left;