body {
	height: 100%;
	margin: 0%;
}

body{
	background-image: url("../images/My project.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}


.topic{						  /*styling the title of the page*/
	font-size:50px;
	text-align:center;
	font-family:serif;
	color:#000099;
}

.name{						  /*styling the details about group members*/
	text-align:left;
	font-size:20px;
	font-family:verdana;
	color:black;
	padding-left:50px;
}
.team{
	font-size:30px;
	padding-left:50px;
	text-align:left;
}
