body {
	height: 100%;
	margin: 0%;
}

body{
	background-image: url("../images/My project.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

.topic{						  /*styling the title of the page*/
	font-size:50px;
	text-align:center;
	font-family:serif;
	color:#0000e6;
}

.name{						  /*styling the details about group members*/
	text-align:left;
	font-size:30px;
	font-family:verdana;
	color:black;
}
.editor a{
	text-decoration:none;
	float:right;
	font-size:20px;
	margin-top:16px;
	font-family:verdana;
}
a:link{
	color: white;
}
a:visited{
	color: purple;
}
a:hover{
	color: #ffff99;
}
a:active{
	color: red;
}